<html>
<body>
<form action="vehicle_confirm.php" method="post">
Marka: <input type="text" name="marka" >
</br>
Model: <input type="text" name="model" >
</br>
Rik: <input type="text" name="rik" >
</br>
Color:<input type="text" name="color" >
</br>
Registration number:<input type="text" name="registration_number" >
</br>
Owner:<input type="text" name="owner" >
</br>
Owner phone:<input type="text" name="owner_phone" >
</br>
Owner address:<input type="text" name="owner_address" >
</br>
<input type="submit" value="Add record">
</form>
</br>
</body>
</html>