<html>
<title>main</title>
<body>
<?php
unset ($name);
if (isset($_SESSION["name"])){
echo "Hello ". htmlentities($_SESSION["name"]);
$name=htmlentities($_SESSION["name"]);
}
?>
</br>
</br>
<?php
if ($user["permission"]==ADMIN_PERMISSION_ALLOWED) {
?>
	<a href="users.php">Users administration</a>
	</br>
	</br>
<?php
}
if (isset($_SESSION["name"])){
?>
	<a href="add_vehicle.php">Add vehicle</a>
<?php
}
if (isset($vehicle["0"])){
?>
	
<table border=10>
<tr>
<th>Marka</th>
<th>Model</th>
<th>Rik</th>
<th>Registration number</th>
<th>User who added</th>
<th>When added</th>
<?php
if ($user["permission"]==ADMIN_PERMISSION_ALLOWED){
?>
<th></th>
<th></th>
<?php
}
?>
</tr>
<?php
	for ($rowIndex=0;$rowIndex<$count_vehicle;$rowIndex++){
		if ($user["permission"]==ADMIN_PERMISSION_ALLOWED){
?>

<tr style="background-color:#ECECEC;"
    onMouseOver="this.style.backgroundColor='red';"
    onMouseOut="this.style.backgroundColor='#ECECEC'"
    onclick="location.href='vehicle_info.php?id=<?php echo ($vehicle[$rowIndex]["id"]) ?>'">
<?php
}	
else{
?>
<tr>
<?php
}
?>	
<td><?php echo (htmlentities($vehicle[$rowIndex]["marka"])); ?></td>
<td><?php echo (htmlentities($vehicle[$rowIndex]["model"])); ?></td>
<td><?php echo (htmlentities($vehicle[$rowIndex]["rik"])); ?></td>
<td><?php echo (htmlentities($vehicle[$rowIndex]["registration_number"])); ?></td>
<td><?php echo (htmlentities($vehicle[$rowIndex]["user"])); ?></td>
<td><?php echo (htmlentities($vehicle[$rowIndex]["added"])); ?></td>
<?php
if ($user["permission"]==ADMIN_PERMISSION_ALLOWED){
?>
<td><a href="add_vehicle.php?id=<?php echo ($vehicle[$rowIndex]["id"]) ?>">edit</a></td>
<td><a href="delete_vehicle.php?id=<?php echo ($vehicle[$rowIndex]["id"]);?>">delete</a></td>
<?php
}
?>
</tr>
<?php
}
?>
</table>	
</br>
<?php
}
?>
<form name="comment" action="comment.php" method="post">
<?php
if (isset ($name)){
?>
Name:<input type="text" name="name" value="<?php echo $name;?>"  >
<?php
}
else {
?>
Name:<input type="text" name="name">
<?php
}
?>
<br /> 
Comment:
<br />
<textarea name="comment_text" cols="30" rows="10"></textarea>
<br />
<input type="hidden" name="page_id" value="index" >
<input type="submit" value="Send" >
 </form>

</br>
<?php

if (isset($comments["0"])){
?>
<table border=1>
<tr>
<th>User</th>
<th>Comment</th>
<th>Date</th>
</tr>
<?php
	for ($rowIndex=0;$rowIndex<$count_comments;$rowIndex++){
		
?>
<td><?php echo (htmlentities($comments[$rowIndex]["user"])); ?></td>
<td><?php echo (htmlentities($comments[$rowIndex]["comment"])); ?></td>
<td><?php echo (htmlentities($comments[$rowIndex]["time"])); ?></td>
</tr>
<?php
}
?>
</table>	
</br>
 
<?php
}
if (isset ($name)) {
?>
<center><a href="logout.php">Sign out</a></center>
<?php }
else{ ?>
<center><a href="authorization.php">authorization</a></center>
<?php
} ?>
</body>
</html>