<html>
<title>main</title>
<body>
<?php
if ($user["permission"]==ADMIN_PERMISSION_ALLOWED) { 
echo "Hello ". htmlentities($_SESSION["name"]);
} ?>
</br>
</br>
<?php
	if ($user["permission"]==ADMIN_PERMISSION_ALLOWED) {
?>
		<a href="users.php">Users administration</a>
		</br>
		</br>
<?php
	}
	if ($user["permission"]==ADMIN_PERMISSION_ALLOWED){
?>
	<a href="add_vehicle.php">Add vehicle</a>
<?php
	}
?>
	
<table border=1>
<tr>
<th>Marka</th>
<th>Model</th>
<th>Rik</th>
<?php
if ($user["permission"]==ADMIN_PERMISSION_ALLOWED){
?>
<th></th>
<th></th>
<?php
}
?>
</tr>
<?php
	for ($rowIndex=0;$rowIndex<$c;$rowIndex++){
		
?>
<td><?php echo (htmlentities($vehicle[$rowIndex]["marka"])); ?></td>
<td><?php echo (htmlentities($vehicle[$rowIndex]["model"])); ?></td>
<td><?php echo (htmlentities($vehicle[$rowIndex]["rik"])); ?></td>
<?php
if ($user["permission"]==ADMIN_PERMISSION_ALLOWED){
?>
<td><a href="add_vehicle.php?id=<?php echo ($vehicle[$rowIndex]["id"]) ?>">edit</a></td>
<td><a href="delete_vehicle.php?id=<?php echo ($vehicle[$rowIndex]["id"]);?>">delete</a></td>
<?php
}
?>
</tr>
<?php
}
?>
</table>	
</br>
<?php
if ($user["permission"]==ADMIN_PERMISSION_ALLOWED) {
?>
<center><a href="logout.php">Sign out</a></center>
<?php }
else{ ?>
<center><a href="authorization.php">authorization</a></center>
<?php
} ?>
</body>
</html>